test:
  adapter: mysql
  encoding: utf8
  database: global_uid_test
  username: root
  password:

test_id_server_1:
  adapter: mysql
  encoding: utf8
  database: global_uid_test_id_server_1
  username: root
  password:

test_id_server_2:
  adapter: mysql
  encoding: utf8
  database: global_uid_test_id_server_2
  username: root
  password:
